@media (min-width:992px) {html.w-mod-js:not(.w-mod-ix) [data-w-id="598d3475-9388-e149-b1f4-af1d2b0daa08"] {opacity:0.2;}html.w-mod-js:not(.w-mod-ix) [data-w-id="6bb49cf6-4a98-1d9d-a8a7-9f315d032c6b"] {opacity:0.2;}html.w-mod-js:not(.w-mod-ix) [data-w-id="9b71f440-b3b3-7230-ca50-86a606d7c0ec"] {opacity:0.2;}html.w-mod-js:not(.w-mod-ix) [data-w-id="9e773b64-2ce5-3dd0-0269-7a00a6c7b668"] {opacity:0.2;}html.w-mod-js:not(.w-mod-ix) [data-w-id="31729a2d-8716-e940-3245-a8dd00e63f94"] {opacity:0.2;}html.w-mod-js:not(.w-mod-ix) [data-w-id="212cbf43-a699-6caf-af4c-3c9b3993cf10"] {opacity:0.2;}html.w-mod-js:not(.w-mod-ix) [data-w-id="9d09ce7a-121b-e862-e51d-43af13c5657a"] {opacity:1;}html.w-mod-js:not(.w-mod-ix) [data-w-id="ff877720-0331-24a4-cb4b-0287837d9c20"] {opacity:0.2;}html.w-mod-js:not(.w-mod-ix) [data-w-id="4e6f3b3a-93a2-a122-30b3-2a13430d0eee"] {opacity:0.2;}html.w-mod-js:not(.w-mod-ix) [data-w-id="2b60fc97-af1c-845f-277b-c51a01bff726"] {opacity:0.2;}html.w-mod-js:not(.w-mod-ix) [data-w-id="130ab85d-5b38-5beb-eefa-594e54967f93"] {opacity:0.2;}html.w-mod-js:not(.w-mod-ix) [data-w-id="91991f3d-0b88-3fd4-50e1-7e3114009795"] {opacity:0.2;}}@media (max-width:991px) and (min-width:768px) {html.w-mod-js:not(.w-mod-ix) [data-w-id="ff877720-0331-24a4-cb4b-0287837d9c20"] {opacity:0.2;}html.w-mod-js:not(.w-mod-ix) [data-w-id="2b60fc97-af1c-845f-277b-c51a01bff726"] {opacity:0.2;}html.w-mod-js:not(.w-mod-ix) [data-w-id="598d3475-9388-e149-b1f4-af1d2b0daa08"] {opacity:0.2;}html.w-mod-js:not(.w-mod-ix) [data-w-id="6bb49cf6-4a98-1d9d-a8a7-9f315d032c6b"] {opacity:0.2;}html.w-mod-js:not(.w-mod-ix) [data-w-id="9b71f440-b3b3-7230-ca50-86a606d7c0ec"] {opacity:0.2;}html.w-mod-js:not(.w-mod-ix) [data-w-id="9e773b64-2ce5-3dd0-0269-7a00a6c7b668"] {opacity:0.2;}html.w-mod-js:not(.w-mod-ix) [data-w-id="31729a2d-8716-e940-3245-a8dd00e63f94"] {opacity:0.2;}html.w-mod-js:not(.w-mod-ix) [data-w-id="212cbf43-a699-6caf-af4c-3c9b3993cf10"] {opacity:0.2;}html.w-mod-js:not(.w-mod-ix) [data-w-id="9d09ce7a-121b-e862-e51d-43af13c5657a"] {opacity:1;}html.w-mod-js:not(.w-mod-ix) [data-w-id="4e6f3b3a-93a2-a122-30b3-2a13430d0eee"] {opacity:0.2;}html.w-mod-js:not(.w-mod-ix) [data-w-id="91991f3d-0b88-3fd4-50e1-7e3114009795"] {opacity:0.2;}html.w-mod-js:not(.w-mod-ix) [data-w-id="130ab85d-5b38-5beb-eefa-594e54967f93"] {opacity:0.2;}}@media (max-width:767px) and (min-width:480px) {html.w-mod-js:not(.w-mod-ix) [data-w-id="ff877720-0331-24a4-cb4b-0287837d9c20"] {opacity:0.2;}html.w-mod-js:not(.w-mod-ix) [data-w-id="2b60fc97-af1c-845f-277b-c51a01bff726"] {opacity:0.2;}html.w-mod-js:not(.w-mod-ix) [data-w-id="598d3475-9388-e149-b1f4-af1d2b0daa08"] {opacity:0.2;}html.w-mod-js:not(.w-mod-ix) [data-w-id="6bb49cf6-4a98-1d9d-a8a7-9f315d032c6b"] {opacity:0.2;}html.w-mod-js:not(.w-mod-ix) [data-w-id="9b71f440-b3b3-7230-ca50-86a606d7c0ec"] {opacity:0.2;}html.w-mod-js:not(.w-mod-ix) [data-w-id="9e773b64-2ce5-3dd0-0269-7a00a6c7b668"] {opacity:0.2;}html.w-mod-js:not(.w-mod-ix) [data-w-id="31729a2d-8716-e940-3245-a8dd00e63f94"] {opacity:0.2;}html.w-mod-js:not(.w-mod-ix) [data-w-id="212cbf43-a699-6caf-af4c-3c9b3993cf10"] {opacity:0.2;}html.w-mod-js:not(.w-mod-ix) [data-w-id="9d09ce7a-121b-e862-e51d-43af13c5657a"] {opacity:1;}html.w-mod-js:not(.w-mod-ix) [data-w-id="4e6f3b3a-93a2-a122-30b3-2a13430d0eee"] {opacity:0.2;}html.w-mod-js:not(.w-mod-ix) [data-w-id="91991f3d-0b88-3fd4-50e1-7e3114009795"] {opacity:0.2;}html.w-mod-js:not(.w-mod-ix) [data-w-id="130ab85d-5b38-5beb-eefa-594e54967f93"] {opacity:0.2;}}@media (max-width:479px) {html.w-mod-js:not(.w-mod-ix) [data-w-id="ff877720-0331-24a4-cb4b-0287837d9c20"] {opacity:0.2;}html.w-mod-js:not(.w-mod-ix) [data-w-id="2b60fc97-af1c-845f-277b-c51a01bff726"] {opacity:0.2;}html.w-mod-js:not(.w-mod-ix) [data-w-id="598d3475-9388-e149-b1f4-af1d2b0daa08"] {opacity:0.2;}html.w-mod-js:not(.w-mod-ix) [data-w-id="6bb49cf6-4a98-1d9d-a8a7-9f315d032c6b"] {opacity:0.2;}html.w-mod-js:not(.w-mod-ix) [data-w-id="9b71f440-b3b3-7230-ca50-86a606d7c0ec"] {opacity:0.2;}html.w-mod-js:not(.w-mod-ix) [data-w-id="9e773b64-2ce5-3dd0-0269-7a00a6c7b668"] {opacity:0.2;}html.w-mod-js:not(.w-mod-ix) [data-w-id="31729a2d-8716-e940-3245-a8dd00e63f94"] {opacity:0.2;}html.w-mod-js:not(.w-mod-ix) [data-w-id="212cbf43-a699-6caf-af4c-3c9b3993cf10"] {opacity:0.2;}html.w-mod-js:not(.w-mod-ix) [data-w-id="9d09ce7a-121b-e862-e51d-43af13c5657a"] {opacity:1;}html.w-mod-js:not(.w-mod-ix) [data-w-id="4e6f3b3a-93a2-a122-30b3-2a13430d0eee"] {opacity:0.2;}html.w-mod-js:not(.w-mod-ix) [data-w-id="91991f3d-0b88-3fd4-50e1-7e3114009795"] {opacity:0.2;}html.w-mod-js:not(.w-mod-ix) [data-w-id="130ab85d-5b38-5beb-eefa-594e54967f93"] {opacity:0.2;}}
html.lenis {
  height: auto;
}
.lenis.lenis-smooth {
  scroll-behavior: auto;
}
.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}
.lenis.lenis-stopped {
  overflow: hidden;
}
  select {
    appearance: none !important;
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
  }
     .svg-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 800px;
        height: 500px;
      }
  
    @media (max-width: 991px) { /* Tablet and smaller devices */
    .svg-container {
      display: none;
    }
  }
      .cross {
        /* stroke: #1272ff; */
        stroke: black;
        stroke-width: 1.5;
        opacity: 0.15;
        transform-origin: center;
      }
      /* Make text look crisper and more legible in all browsers */
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

/* Focus state style for keyboard navigation for the focusable elements */
*[tabindex]:focus-visible,
  input[type="file"]:focus-visible {
   outline: 0.125rem solid #4d65ff;
   outline-offset: 0.125rem;
}

/* Set color style to inherit */
.inherit-color * {
    color: inherit;
}

/* Get rid of top margin on first element in any rich text element */
.w-richtext > :not(div):first-child, .w-richtext > div:first-child > :first-child {
  margin-top: 0 !important;
}

/* Get rid of bottom margin on last element in any rich text element */
.w-richtext>:last-child, .w-richtext ol li:last-child, .w-richtext ul li:last-child {
	margin-bottom: 0 !important;
}


/* Make sure containers never lose their center alignment */
.container-medium,.container-small, .container-large {
	margin-right: auto !important;
  margin-left: auto !important;
}

/* 
Make the following elements inherit typography styles from the parent and not have hardcoded values. 
Important: You will not be able to style for example "All Links" in Designer with this CSS applied.
Uncomment this CSS to use it in the project. Leave this message for future hand-off.
*/
/*
a,
.w-input,
.w-select,
.w-tab-link,
.w-nav-link,
.w-dropdown-btn,
.w-dropdown-toggle,
.w-dropdown-link {
  color: inherit;
  text-decoration: inherit;
  font-size: inherit;
}
*/

/* Apply "..." after 3 lines of text */
.text-style-3lines {
	display: -webkit-box;
	overflow: hidden;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}

/* Apply "..." after 2 lines of text */
.text-style-2lines {
	display: -webkit-box;
	overflow: hidden;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

/* These classes are never overwritten */
.hide {
  display: none !important;
}

@media screen and (max-width: 991px) {
    .hide, .hide-tablet {
        display: none !important;
    }
}
  @media screen and (max-width: 767px) {
    .hide-mobile-landscape{
      display: none !important;
    }
}
  @media screen and (max-width: 479px) {
    .hide-mobile{
      display: none !important;
    }
}
 
.margin-0 {
  margin: 0rem !important;
}
  
.padding-0 {
  padding: 0rem !important;
}

.spacing-clean {
padding: 0rem !important;
margin: 0rem !important;
}

.margin-top {
  margin-right: 0rem !important;
  margin-bottom: 0rem !important;
  margin-left: 0rem !important;
}

.padding-top {
  padding-right: 0rem !important;
  padding-bottom: 0rem !important;
  padding-left: 0rem !important;
}
  
.margin-right {
  margin-top: 0rem !important;
  margin-bottom: 0rem !important;
  margin-left: 0rem !important;
}

.padding-right {
  padding-top: 0rem !important;
  padding-bottom: 0rem !important;
  padding-left: 0rem !important;
}

.margin-bottom {
  margin-top: 0rem !important;
  margin-right: 0rem !important;
  margin-left: 0rem !important;
}

.padding-bottom {
  padding-top: 0rem !important;
  padding-right: 0rem !important;
  padding-left: 0rem !important;
}

.margin-left {
  margin-top: 0rem !important;
  margin-right: 0rem !important;
  margin-bottom: 0rem !important;
}
  
.padding-left {
  padding-top: 0rem !important;
  padding-right: 0rem !important;
  padding-bottom: 0rem !important;
}
  
.margin-horizontal {
  margin-top: 0rem !important;
  margin-bottom: 0rem !important;
}

.padding-horizontal {
  padding-top: 0rem !important;
  padding-bottom: 0rem !important;
}

.margin-vertical {
  margin-right: 0rem !important;
  margin-left: 0rem !important;
}
  
.padding-vertical {
  padding-right: 0rem !important;
  padding-left: 0rem !important;
}
